// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// .container{
//     background-color: #f0f0f0;
// }

// .form-container{
//     width: 600px;
//     background-color: #fff;
//     padding: 30px 20px;
//     border-radius: 25px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #f0f0f0;
    min-height: 100vh; /* Ocupa a tela toda */
    display: flex;
    flex-direction: column; /* Empilha a Navbar, o Form e o Footer */
}

/* Protege a Navbar e o Footer de encolherem */
navbar-component, footer1Component {
    width: 100%;
    flex-shrink: 0;
}

.form-container {
    /* 1. CENTRALIZA O CARD NO MEIO DA TELA */
    margin: auto; 
    
    /* 2. RESPONSIVIDADE */
    max-width: 600px; 
    
    /* 3. VISUAL */
    background-color: #fff;
    padding: 40px; 
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    h1 {
        color: #181818;
        font-size: 28px;
        font-weight: 800;
        margin-bottom: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    /* Faz os campos esticarem */
    InputComponent, button-component {
        width: 100%;
    }

    .remember-forgot {
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        color: #181818;
        margin-top: -5px;

        .lembrar {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
        }

        a {
            color: #12678d;
            text-decoration: underline;
            font-weight: 600;
            font-size: 14px;
            cursor: pointer;

            &::before{
                content: '';
                display: inline-block;
                border-radius: 50%;
                margin-right: 8px;
            }
            
            &:hover { 
                color: #12678d;
            }
        }
    }
}