* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #f0f0f0;
    min-height: 100vh; 
    flex-direction: column;
    display: flex;
}

navbar-component, footer1Component {
    width: 100%;
    flex-shrink: 0;
}

.form-container {
    margin: auto; 
    
    max-width: 600px; 
    background-color: #fff;
    padding: 40px; 
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    h1 {
        color: #181818;
        font-size: 28px;
        font-weight: 800;
        margin-bottom: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    /* Faz os campos esticarem */
    InputComponent, button-component {
        width: 100%;
    }

    .rememberFogort {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin-top: -5px;

        .checkbox-wrapper {
            display: flex;
            align-items: center;
            gap: 8px;

            input[type="checkbox"] {
                appearance: none;
                -webkit-appearance: none;
                width: 18px;
                height: 18px;
                border: 2px solid #888;
                border-radius: 4px;
                cursor: pointer;
                display: grid;
                place-content: center;
                transition: all 0.2s ease-in-out;

                &::before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    transform: scale(0);
                    transition: 120ms transform ease-in-out;
                    background-color: white;
                    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                }

                &:checked {
                    background-color: #12678d;
                    border-color: #12678d;
                    &::before {
                        transform: scale(1);
                    }
                }
            }

            label {
                font-size: 14px;
                color: #181818;
                cursor: pointer;
                user-select: none;
            }
        }

        a {
            color: #12678d;
            text-decoration: underline;
            font-weight: 500;
            font-size: 14px;
            cursor: pointer;

            &:hover { 
                color: #0b4561;
            }

        }
    }
}