.input-wrapper{
    color: #333;
    font-size: 16px;
    text-align: start;

    label{
        margin-bottom: 10px;
    }

    .input-content{
        width: 100%;
        border-radius: 8px;
        display: flex;
        align-items: stretch;
        border: 1px solid #333;

        input {
            border: none;
            border-radius: 8px;
            background-color: #f0f0f0;
            padding: 12px 0 12px 20px;
            width: 100%;
            outline: none;

            &:focus{
              background-color: #e8e8e8;
            }
        }
    }
}