*{
    margin: 0;
    padding: 0;
}

.footer{
    background-color: #12678d;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 31.5px 0;
    width: 100%;
}