<div class="topo">
  <p>Pequenas ações, grandes transformações</p>
</div>
<div class="navBar">
  <img src="/assets/img/logo.svg" alt="Logo ImpactaMais" srcset="/assets/img/logo.png" />
  <ul>
    <li><a routerLink="" routerLinkActive="active-link">Home</a></li>
    <li><a routerLink="" routerLinkActive="active-link">Quem Somos</a></li>
    <li><a routerLink="" routerLinkActive="active-link">Contato</a></li>
    <button-component
      label="Acesse sua Conta"
      fontSize="16px"
      borderRadius="20px"
      (action)="navigateToLogin()"
    ></button-component>
  </ul>
</div>
